.display {
    background-color: #000;
    color: #fff;
    font-size: 2em;
    padding: 20px;
    text-align: right;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.calculation {
    font-size: 0.5em;
    color: #bbb;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.result {
    font-size: 1.5em;
    color: #fff;
}